.Dashboard {
  width: 100%;
  background-color: rgb(22, 22, 22);
  padding-block-start: 3%;
  color: white;
  min-height: 100vh;
}

.DashboardLayer {
  width: 98%;
  max-width: 900px;
  min-height: 100vh;
  margin-inline: auto;
  background-color: rgb(46, 46, 46);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.greeting {
  font-size: 2rem;
  margin: 30px;
}
